<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investe Jovem</title>
    <link rel="stylesheet" href="static/styles/investjovem.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- Navegação -->
    <nav class="navegacao">
        <div class="nav-container">
            <img class="logo" src="static/assets/logo_investe-removebg-preview.png" alt="logo">
            <h1 class="titulo">Investe Jovem!</h1>
        </div>
        <div class="navbar">
            <a class="nav-item" href="#saibamais">Saiba mais</a>
            <a class="nav-item" href="#o-que-e-investir">O que é investir?</a>
            <a class="nav-item" href="#como-funciona">Como funciona?</a>
            <a class="nav-item" href="#como-comecar">O que fazer para começar?</a>
            <a class="nav-item" href="#objetivo">Objetivos de Investimento</a>
        </div>
    </nav>
    <!-- Mensagem Principal -->
    <main class="main-content">
        <div class="mensagem-container">
            <h1 class="mensagem-main">Seu futuro começa hoje:<br>
                <span class="destaque-roxo">aprenda,</span><br>
                <span class="destaque-roxo">invista,</span><br>
                <span class="destaque-vermelho">cresça!</span>
            </h1>
        </div>
        <img class="homepageimagem" src="static/assets/homepage.png" alt="homepage">
    </main>

    <section id="saibamais">

        <!-- Cabeçalho com Navegação -->
        <nav class="navegacao">
            <div class="nav-container">
                <img class="logo" src="static/assets/logo_investe-removebg-preview.png" alt="logo">
                <h1 class="titulo">Investe Jovem!</h1>
            </div>
            <div class="navbar">
                <a class="nav-item" href="/">Home</a>
                <a class="nav-item" href="#o-que-e-investir">O que é investir?</a>
                <a class="nav-item" href="#como-funciona">Como funciona?</a>
                <a class="nav-item" href="#como-comecar">O que fazer para começar?</a>
                <a class="nav-item" href="#objetivo">Objetivos de Investimento</a>
            </div>
        </nav>

        <h1 class="titulo-saiba-mais">A <span class="destaque-roxo">Investe Jovem!</span> é uma <br> plataforma que
            busca
            mudar a <br> maneira de investir o seu dinheiro.</h1>
        <h2 class="subtitulo-saiba-mais">A Investe Jovem! nasceu do sonho de dois amigos,
            Murilo e Guilherme, que queriam <span class="destaque-vermelho"><br>transformar a educação financeira
                para
                jovens e adolescentes.</span>
            <br> Queremos mostrar que investir pode ser simples, acessível e divertido.
            Nossa missão é <br> empoderar uma nova geração de investidores,
            <span class="destaque-vermelho">ajudando você a construir um <br> futuro financeiro sólido enquanto
                aproveita
                o presente.</span>
        </h2>

    </section>

    <section id="o-que-e-investir">


        <!-- Cabeçalho com Navegação -->
        <nav class="navegacao">
            <div class="nav-container">
                <img class="logo" src="static/assets/logo_investe-removebg-preview.png" alt="logo">
                <h1 class="titulo">Investe Jovem!</h1>
            </div>
            <div class="navbar">
                <a class="nav-item" href="/">Home</a>
                <a class="nav-item" href="#saibamais">Saiba Mais</a>
                <a class="nav-item" href="#como-funciona">Como funciona?</a>
                <a class="nav-item" href="#como-comecar">O que fazer para começar?</a>
                <a class="nav-item" href="#objetivo">Objetivos de Investimento</a>
            </div>
        </nav>
        <h1 class="titulo-o-que-e-investir"><span class="destaque-roxo">O que é investir?</span></h1>
        <main class="main-o-que-e-investir">
            <h2 class="subtitulo-o-que-e-investir"><span class="destaque-vermelho">Investir é colocar seu dinheiro
                    para
                    "trabalhar" e crescer com o
                    tempo.</span>
                Em vez de deixar seu dinheiro parado,
                você aplica em algo que pode te dar retorno, como ações,
                fundos ou até mesmo uma poupança.</h2>

            <img class="imagem-o-que-e-investir" src="static/assets/oqinvestir.png" alt="o-que-e-investir">
        </main>
    </section>

    <section id="como-funciona">

        <body>
            <!-- Cabeçalho com Navegação -->
            <nav class="navegacao">
                <div class="nav-container">
                    <img class="logo" src="static/assets/logo_investe-removebg-preview.png" alt="logo">
                    <h1 class="titulo">Investe Jovem!</h1>
                </div>
                <div class="navbar">
                    <a class="nav-item" href="/">Home</a>
                    <a class="nav-item" href="#saibamais">Saiba Mais</a>
                    <a class="nav-item" href="#o-que-e-investir">O que é investir?</a>
                    <a class="nav-item" href="#como-comecar">O que fazer para começar?</a>
                    <a class="nav-item" href="#objetivo">Objetivos de Investimento</a>
                </div>
            </nav>
            <main class="comofunciona">
                <h1 class="titulo-como-funciona"><span class="destaque-roxo">Como funciona?</span></h1>
                <h2 class="subtitulo-como-funciona">Você escolhe onde quer aplicar seu dinheiro. Cada tipo de
                    investimento
                    tem suas regras:
                    <span class="destaque-vermelho">Risco baixo</span>: Menos chance de perder dinheiro, mas o retorno é
                    menor (ex: poupança).
                    <span class="destaque-vermelho">Risco alto</span>: Maior chance de ganhar mais, mas também de perder
                    (ex: ações).

                    <span class="destaque-vermelho">Com o tempo, seu dinheiro pode crescer com os lucros, juros ou
                        valorização.</span>
                </h2>

                <img class="imagem-como-funciona" src="static/assets/comofunciona.png" alt="como-funciona">
            </main>

    </section>

    <section id="como-comecar">


        <!-- Cabeçalho com Navegação -->
        <nav class="navegacao">
            <div class="nav-container">
                <img class="logo" src="static/assets/logo_investe-removebg-preview.png" alt="logo">
                <h1 class="titulo">Investe Jovem!</h1>
            </div>
            <div class="navbar">
                <a class="nav-item" href="/">Home</a>
                <a class="nav-item" href="#saibamais">Saiba Mais</a>
                <a class="nav-item" href="#o-que-e-investir">O que é investir?</a>
                <a class="nav-item" href="#como-funciona">Como funciona?</a>
                <a class="nav-item" href="#objetivo">Objetivos de Investimento</a>
            </div>
        </nav>
        <main class="como-comecar">
            <h1 class="titulo-como-comecar"><span class="destaque-roxo">O que fazer para começar?</span></h1>
            <h2 class="subtitulo-como-comecar"> <span class="destaque-vermelho">Defina seu objetivo </span>: Quer
                juntar para uma viagem? Faculdade? Casa? <br> <br>
                <span class class="destaque-vermelho">Conheça os tipos de investimento</span>: Entenda o que combina
                com você. <br> <br>
                <span class class="destaque-vermelho">Comece com pouco</span>: Não precisa ter muito dinheiro para
                investir. <br> <br>
                <span class class="destaque-vermelho"> Tenha paciência</span>: Investimento é para médio e longo
                prazo.

                Com disciplina, você constrói um futuro financeiro mais tranquilo!
            </h2>

            <img class="imagem-como-comecar" src="static/assets/oqfazerpracomecar.png" alt="como-comecar">
        </main>

        <section id="objetivo">

            <nav class="navegacao">
                <div class="nav-container">
                    <img class="logo" src="static/assets/logo_investe-removebg-preview.png" alt="logo">
                    <h1 class="titulo">Investe Jovem!</h1>
                </div>
                <div class="navbar">
                    <a class="nav-item" href="/">Home</a>
                    <a class="nav-item" href="#saibamais">Saiba Mais</a>
                    <a class="nav-item" href="#o-que-e-investir">O que é investir?</a>
                    <a class="nav-item" href="#como-funciona">Como funciona?</a>
                    <a class="nav-item" href="#como-comecar">O que fazer para começar?</a>
                </div>
            </nav>

            <h1 class="titulo-objetivo">
                <span class="destaque-roxo">Objetivos de Investimento</span>
            </h1>
            <div class="slid">
                <div class="grid-item">
                    <button class="investment-button"
                        style="background-image: url('/static/assets/Entreterimento.jpg');"
                        onclick="setObjetivo('Entreterimento', this)">
                        <div class="button-content">
                            <h2>Entretenimento</h2>
                        </div>
                    </button>
                </div>
                <div class="slide">
                    <button class="investment-button" style="background-image: url('/static/assets/casa-própria.webp');"
                        onclick="setObjetivo('Casa Propria', this)">
                        <div class="button-content">
                            <h2>Casa Própria</h2>
                        </div>
                    </button>
                </div>
                <div class="slide">
                    <button class="investment-button"
                        style="background-image: url('/static/assets/cursos-na-area-da-educacao.jpeg');"
                        onclick="setObjetivo('Estudos', this)">
                        <div class="button-content">
                            <h2>Educação</h2>
                        </div>
                    </button>
                </div>
                <div class="slide">
                    <button class="investment-button"
                        style="background-image: url('/static/assets/viagem-viajar-passagens-r--200-voa-brasil-capa-mt-min-1024x580.webp');"
                        onclick="setObjetivo('Viagens', this)">
                        <div class="button-content">
                            <h2>Viagens</h2>
                        </div>
                    </button>
                </div>
                <div class="slide">
                    <button class="investment-button"
                        style="background-image: url('/static/assets/Fundo-de-Emergencia.jpg');"
                        onclick="setObjetivo('Fundo de Emergencia', this)">
                        <div class="button-content">
                            <h2>Emergência</h2>
                        </div>
                    </button>
                </div>
                <!-- Nova div para o tipo de investimento "Saúde" -->
                <div class="slide">
                    <button class="investment-button" style="background-image: url('/static/assets/saude.jfif');"
                        onclick="setObjetivo('Saude', this)">
                        <div class="button-content">
                            <h2>Saúde</h2>
                        </div>
                    </button>
                </div>
            </div>

        </section>

        <!-- Mais botões conforme necessário -->
        <section id="simulacao">
            <form id="simulacao-form" action="/" method="POST">
                <h2>Escolha o tempo de investimento:</h2>
                <div class="button-container" id="tempos">
                    <button type="button" name="tempo" value="12" class="btn-tempo">1 ano</button>
                    <button type="button" name="tempo" value="24" class="btn-tempo">2 anos</button>
                    <button type="button" name="tempo" value="36" class="btn-tempo">3 anos</button>
                    <button type="button" name="tempo" value="48" class="btn-tempo">4 anos</button>
                    <button type="button" name="tempo" value="60" class="btn-tempo">5 anos</button>
                </div>

                <input type="hidden" name="objetivo" id="hiddenObjetivo" required>
                <input type="hidden" name="tempo" id="hiddenTempo" required>

                <!-- Seção de valores -->
                <div class="form-group">
                    <label for="valor_inicial">Valor Inicial (R$):</label>
                    <input type="number" name="valor_inicial" id="valor_inicial" step="0.01" required
                        placeholder="Exemplo: 1000">
                </div>

                <div class="form-group">
                    <label for="valor_mensal">Valor Mensal (R$):</label>
                    <input type="number" name="valor_mensal" id="valor_mensal" step="0.01" required
                        placeholder="Exemplo: 200">
                </div>
                <button type="submit" id="btn-submit" disabled>Próximo</button>
            </form>
        </section>
        <script>
            // Função para capturar e definir o tempo de investimento
            const tempoButtons = document.querySelectorAll('.btn-tempo');
            tempoButtons.forEach(button => {
                button.addEventListener('click', function () {
                    // Verifica se um objetivo foi selecionado
                    const objetivo = document.getElementById('hiddenObjetivo').value;
                    if (!objetivo) {
                        alert("Por favor, selecione um objetivo antes de escolher o tempo de investimento.");
                        return; // Impede a seleção do tempo se o objetivo não foi escolhido
                    }

                    // Define o valor do tempo no campo oculto
                    document.getElementById('hiddenTempo').value = this.value;
                    document.getElementById('btn-submit').disabled = false; // Habilita o botão de submit

                    // Adiciona a classe 'active' ao botão de tempo selecionado
                    tempoButtons.forEach(b => b.classList.remove('active')); // Remove a classe 'active' de todos os botões de tempo
                    this.classList.add('active'); // Adiciona a classe 'active' ao botão clicado
                });
            });

            // Função para capturar o valor do objetivo ao clicar no botão
            const investmentButtons = document.querySelectorAll('.investment-button');
            investmentButtons.forEach(button => {
                button.addEventListener('click', function () {
                    // Remove a classe 'active' de todos os botões
                    investmentButtons.forEach(b => b.classList.remove('active'));

                    // Adiciona a classe 'active' ao botão clicado
                    this.classList.add('active');

                    // Captura e define o objetivo no campo oculto
                    const objetivo = this.getAttribute('onclick').match(/'([^']+)'/)[1];
                    document.getElementById('hiddenObjetivo').value = objetivo;
                });
            });
        </script>
    </section>
</body>

</html>