<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investe Jovem - Plataformas de Investimento</title>
    <link rel="stylesheet" href="../static/styles/simulacao.css">
</head>
<body>
    <nav class="navegacao">
        <div class="nav-container">
            <img class="logo" src="static/assets/logo_investe-removebg-preview.png" alt="logo">
            <h1 class="titulo">Investe Jovem!</h1>
        </div>
        <div class="navbar">
            <a class="nav-item" href="/">Home</a>
        </div>
    </nav>  
</body>
</html>
<section id="plataformas-investimento">
    <h2>As melhores plataformas para investir!</h2>
    <div class="slide">
        <a href="https://www.xpi.com.br/" target="_blank" class="investment-button xp-investimentos"
            title="XP Investimentos"></a>
        <a href="https://nubank.com.br/investimentos/" target="_blank" class="investment-button nu-invest"
            title="Nubank Investimentos"></a>
        <a href="https://www.bancointer.com.br/investimentos/" target="_blank"
            class="investment-button inter-invest" title="Inter Investimentos"></a>
    </div>
</section>